<div data-name="home" class="page" local-class="root">

  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a class="link icon-only">
          <i class="icon iconfont icon-saoma"></i>
        </a>
      </div>
      <div class="title w-100">
        <form class="searchbar">
          <div class="searchbar-inner">
            <div class="searchbar-input-wrap">
              <input type="search" placeholder="搜索附近的服务" onclick={{action "openSearch"}}>
              <i class="searchbar-icon"></i>
              <span class="input-clear-button"></span>
            </div>
            <span class="searchbar-disable-button">取消</span>
          </div>
        </form>
      </div>
      <div class="right"></div>
    </div>
  </div>

  <!-- Scrollable page content -->
  <div class="page-content keep-bars-on-scroll">

    {{#f7-swiper as |swiper|}}
      {{#each swipers as |img|}}
        {{#swiper.item}}
          <img src={{img}} alt="" local-class="swiper-img">
        {{/swiper.item}}
      {{/each}}
    {{/f7-swiper}}
    {{#f7-card as |card|}}
      {{#card.body}}
      <div class="row">
        <!-- Each "cell" has col-[widht in percents] class -->
          <div class="col-20 text-center">
            <img src="http://requirejs.org/i/logo.png" alt="" local-class="tabImg">
            <div class="f-small">家政</div>
          </div>
          <div class="col-20 text-center">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523547241143&di=111298390fd7651b518b214261bf6b00&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F140429%2F259424-14042910015529.jpg" alt="" local-class="tabImg">
            <div class="f-small">维修</div>
          </div>
          <div class="col-20 text-center">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523547326584&di=3a8db44284de659bd3e5e5772a06ce26&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F150331%2F258807-1503310SF295.jpg" alt="" local-class="tabImg">
            <div class="f-small">配送</div>
          </div>

          <div class="col-20 text-center">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523547326584&di=3a8db44284de659bd3e5e5772a06ce26&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F150331%2F258807-1503310SF295.jpg" alt="" local-class="tabImg">
            <div class="f-small">搬家</div>
          </div>
          <div class="col-20 text-center">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523547326584&di=3a8db44284de659bd3e5e5772a06ce26&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F150331%2F258807-1503310SF295.jpg" alt="" local-class="tabImg">
            <div class="f-small">收快递</div>
          </div>
        </div>
        <div class="row">
          <div class="col-20 text-center">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523547326584&di=3a8db44284de659bd3e5e5772a06ce26&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F150331%2F258807-1503310SF295.jpg" alt="" local-class="tabImg">
            <div class="f-small">代驾</div>
          </div>
          <div class="col-20 text-center">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523547326584&di=3a8db44284de659bd3e5e5772a06ce26&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F150331%2F258807-1503310SF295.jpg" alt="" local-class="tabImg">
            <div class="f-small">xxx</div>
          </div>
          <div class="col-20 text-center">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523547326584&di=3a8db44284de659bd3e5e5772a06ce26&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F150331%2F258807-1503310SF295.jpg" alt="" local-class="tabImg">
            <div class="f-small">xxx</div>
          </div>

          <div class="col-20 text-center">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523547326584&di=3a8db44284de659bd3e5e5772a06ce26&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F150331%2F258807-1503310SF295.jpg" alt="" local-class="tabImg">
            <div class="f-small">xxx</div>
          </div>
          <div class="col-20 text-center">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1523547326584&di=3a8db44284de659bd3e5e5772a06ce26&imgtype=0&src=http%3A%2F%2Fwww.jituwang.com%2Fuploads%2Fallimg%2F150331%2F258807-1503310SF295.jpg" alt="" local-class="tabImg">
            <div class="f-small">其他</div>
          </div>
      </div>
      {{/card.body}}
    {{/f7-card}}

    <div class="block nopadding nomargin">
      {{!-- {{#f7-card as |card|}} --}}
        {{!-- {{#card.body class="nopadding"}} --}}
          {{map-bd mapClicked=(action "mapClicked")}}
        {{!-- {{/card.body}} --}}
      {{!-- {{/f7-card}} --}}
    </div>
  {{show-serves local-class="showServes"}}

  </div>

</div>


{{popup-search open=openSearch}}