{{#f7-popup popup=popup}}
<div class="view">
  <div class="page">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="" class="link" {{action "close"}}>
            <i class="icon icon-back"></i>
            <span>返回</span>
          </a>
        </div>
        <div class="title w-100">
          <form class="searchbar">
            <div class="searchbar-inner">
              <div class="searchbar-input-wrap">
                {{input type="search" value=strSearch placeholder="搜索附近的服务"}}
                <i class="searchbar-icon"></i>
                <span class="input-clear-button"></span>
              </div>
              <span class="searchbar-disable-button">取消</span>
            </div>
          </form>
        </div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content keep-bars-on-scroll">
      <div class="block-title">搜索历史</div>
      <div class="block block-strong">
        {{#each chips as |chip|}}
        <div class="chip" {{action "chipClicked" chip}}>
          <div class="chip-label">{{chip}}</div>
        </div>
        {{/each}}
      </div>
      <div class="block-title">大家都在搜</div>
      <div class="block block-strong">
        {{#each chips as |chip|}}
        <div class="chip" {{action "chipClicked" chip}}>
          <div class="chip-label">{{chip}}</div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{/f7-popup}}