{{#if hasBlock}} {{yield}} {{else}}

<span class="float-left"> {{title}} </span>
<a href="javascript:;" class="link" {{action "rightBtnClicked"}}>
  <div class="float-right" local-class="card-nav">
    <span>{{rightBtnText}}</span>
    <i class="icon f7-icons ios-only d-inline-block">chevron_right</i>
  </div>
</a>
{{/if}}