<div class="page" data-name="messages">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left"></div>
      <div class="title">消息通知</div>
      <div class="right"></div>
    </div>
  </div>
  <div class="page-content">
    <div class="list media-list">
      <ul>
        {{#each msgs as |msg|}}
        <li>
          <div class="item-content" {{action "goChat" msg}}>
            <div class="item-media">
              <img src={{msg.avatar}} width="44" />
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">{{msg.title}}</div>
                <div class="item-after">{{msg.lastMsgTime}}</div>
              </div>
              <div class="item-subtitle">{{msg.lastMsgText}}</div>
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>